.slide-content{
  vertical-align: middle;
  width: 100%;
  display: none;
}
div.slide-content.active{
  display: inherit;
}
.carousel-item,.carousel-inner{
/*  width: 100%;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover; */
}
/*header*/
.masthead{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  z-index: 10000;
}
.masthead-brand{
  margin-top: 0.78%;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.masthead-nav{
  padding-top: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*ABOUT SECTION*/
#about p{
/*  text-align: left;*/
}

/*SERVICES SECTION*/
/*#services.container-fluid{
  width: 100%;
  height: 60%;
  padding: 0;
  margin: 0;
  display: block;
}*/
.row{
/*  display: inline-block;*/
/*  width: 33.3%;*/
/*  height: 100%;*/
/*  text-align: left;*/
/*  float: left;*/
/*  clear: right;*/
/*  margin: 0;*/
}
#services p.lead{
}
/*
@media (min-width:320px){
  .masthead{
    position: fixed;
    top: 0;
    height: 100%;
  }
  .masthead-brand{
    margin-top: 0;
  }
/*  #about, #services, #contact{*/
/*    margin-top: 30%;*/
/*  }*/
/*  .slide-content{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0; */
/*    overflow-y: scroll;*/
/*  }*/
/*  .mastfoot{
    width: 100%;
    left: 0;
  }
}*/